<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.ArticleMapper">
    <insert id="insertArticle"></insert>
    <update id="updateArticleQuantity"></update>

    <select id="getArticleList" resultType="com.ms.blog.entity.vo.ArticleVo">
        SELECT id, user_id, category_id, title, avatar, summary, content, content_md, is_secret, is_stick, is_publish, is_original, original_url, quantity, remark, create_time, keywords, update_time
        FROM b_article
    </select>
    <select id="getPopularArticleList" resultType="com.ms.blog.entity.vo.ArticleVo">
        SELECT id, user_id, category_id, title, avatar, summary, content, content_md, is_secret, is_stick, is_publish, is_original, original_url, quantity, remark, create_time, keywords, update_time
        FROM b_article
    </select>
    <select id="getArticleContent" resultType="com.ms.blog.entity.vo.ArticleVo"></select>
</mapper>