<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.ArticleMapper">
    <insert id="insertArticle">
        INSERT INTO b_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="article.userId!=null">
                user_id,
            </if>
            <if test="article.content!=null">
                content,
            </if>
            <if test="article.contentMd!=null">
                content_md,
            </if>
            <if test="article.avatar!=null">
                avatar,
            </if>
            <if test="article.isOriginal!=null">
                is_original,
            </if>
            <if test="article.remark!=null">
                remark,
            </if>
            <if test="article.summary!=null">
                summary,
            </if>
            <if test="article.updateDate!=null">
                update_time,
            </if>
            <if test="article.title!=null">
                title,
            </if>
            <if test="article.originalUrl!=null">
                original_url,
            </if>
            <if test="article.isStick!=null">
                is_stick,
            </if>
            <if test="article.isPublish!=null">
                is_publish,
            </if>
            <if test="article.isSecret!=null">
                is_secret,
            </if>
            <if test="article.categoryId">
                category_id,
            </if>

        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="article.userId!=null">
                #{userId},
            </if>
            <if test="article.content!=null">
                #{content},
            </if>
            <if test="article.contentMd!=null">
                #{contentMd},
            </if>
            <if test="article.avatar!=null">
                #{avatar},
            </if>
            <if test="article.isOriginal!=null">
                #{isOriginal},
            </if>
            <if test="article.remark!=null">
                #{remark},
            </if>
            <if test="article.summary!=null">
                #{summary},
            </if>
            <if test="article.updateDate!=null">
                #{updateDate},
            </if>
            <if test="article.title!=null">
                #{title},
            </if>
            <if test="article.originalUrl!=null">
                #{originalUrl},
            </if>
            <if test="article.isStick!=null">
                #{isStick},
            </if>
            <if test="article.isPublish!=null">
                #{isPublish},
            </if>
            <if test="article.isSecret!=null">
                #{isSecret},
            </if>
            <if test="article.categoryId">
                #{categoryId},
            </if>
        </trim>
    </insert>
    <insert id="insertArticleTagRelate">
        INSERT INTO b_article_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId!=null">
                article_id,
            </if>
            <if test="tagId!=null">
                tag_id,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="articleId!=null">
                #{articleId},
            </if>
            <if test="tagId!=null">
                #{tagId},
            </if>
        </trim>
    </insert>
    <update id="updateArticleQuantity">
        UPDATE b_article SET quantity=#{quantity} WHERE id=#{id}
    </update>
    <update id="updateArticleInfo">
        UPDATE b_article
        <set>
            <if test="article.userId!=null">
                user_id=#{userId},
            </if>
            <if test="article.content!=null">
                content=#{content},
            </if>
            <if test="article.contentMd!=null">
                content_md=#{contentMd},
            </if>
            <if test="article.avatar!=null">
                avatar=#{avatar},
            </if>
            <if test="article.isOriginal!=null">
                is_original=#{isOriginal},
            </if>
            <if test="article.remark!=null">
                remark=#{remark},
            </if>
            <if test="article.summary!=null">
                summary=#{summary},
            </if>
            <if test="article.updateDate!=null">
                update_time=#{updateDate},
            </if>
            <if test="article.title!=null">
                title=#{title},
            </if>
            <if test="article.originalUrl!=null">
                original_url=#{originalUrl},
            </if>
            <if test="article.isStick!=null">
                is_stick=#{isStick},
            </if>
            <if test="article.isPublish!=null">
                is_publish=#{isPublish},
            </if>
            <if test="article.isSecret!=null">
                is_secret=#{isSecret},
            </if>
            <if test="article.categoryId">
                category_id=#{categoryId}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="getArticleList" resultType="com.ms.blog.entity.Article">
        select id, user_id, category_id, title, avatar, summary, content, content_md, is_secret, is_stick, is_publish,
        is_original, original_url, quantity, remark, create_time, keywords, update_time from b_article
       <where>
           <if test="isSecret=1 and isSecret=0">
               AND is_secret=#{isSecret}
           </if>
           <if test="isStick=1 and isStick=0">
               AND is_stick=#{isStick}
           </if>
           <if test="title!=null">
               AND title=#{title}
           </if>
           <if test="isPublish=1 and isPublish=0">
               AND is_publish=#{isPublish}
           </if>
           <if test="isOriginal=1 and isOriginal=0">
               AND is_original=#{isOriginal}
           </if>
       </where>

    </select>
    <select id="getPopularArticleList" resultType="com.ms.blog.entity.Article">
        select id,
               user_id,
               category_id,
               title,
               avatar,
               summary,
               content,
               content_md,
               is_secret,
               is_stick,
               is_publish,
               is_original,
               original_url,
               quantity,
               remark,
               create_time,
               keywords,
               update_time
        from b_article
        WHERE create_time>=#{date} ORDER BY update_time desc
    </select>
    <select id="getArticleContent" resultType="com.ms.blog.entity.Article">
        select id,
               user_id,
               category_id,
               title,
               avatar,
               summary,
               content,
               content_md,
               is_secret,
               is_stick,
               is_publish,
               is_original,
               original_url,
               quantity,
               remark,
               create_time,
               keywords,
               update_time
        from b_article WHERE id=#{id}
    </select>
    <select id="getArticleByUserId" resultType="com.ms.blog.entity.Article">
        select id,
               user_id,
               category_id,
               title,
               avatar,
               summary,
               content,
               content_md,
               is_secret,
               is_stick,
               is_publish,
               is_original,
               original_url,
               quantity,
               remark,
               create_time,
               keywords,
               update_time
        from b_article WHERE user_id=#{userId}
    </select>
    <select id="getArticleById" resultType="com.ms.blog.entity.Article">
        select id,
               user_id,
               category_id,
               title,
               avatar,
               summary,
               content,
               content_md,
               is_secret,
               is_stick,
               is_publish,
               is_original,
               original_url,
               quantity,
               remark,
               create_time,
               keywords,
               update_time
        from b_article WHERE id=#{id}
    </select>
    <select id="getArticleByTag" resultType="com.ms.blog.entity.Article">
        select id,
               user_id,
               category_id,
               title,
               avatar,
               summary,
               content,
               content_md,
               is_secret,
               is_stick,
               is_publish,
               is_original,
               original_url,
               quantity,
               remark,
               create_time,
               keywords,
               update_time
        from b_article WHERE id IN
        <foreach collection="articleIdList" item="articleId" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </select>

    <select id="getArticleIdByTagId" resultType="java.lang.Integer">
        SELECT b_article_tag.article_id FROM b_article_tag WHERE tag_id=#{tagId}
    </select>

    <select id="getArticleByCategory" resultType="com.ms.blog.entity.Article">
        select id,
               user_id,
               category_id,
               title,
               avatar,
               summary,
               content,
               content_md,
               is_secret,
               is_stick,
               is_publish,
               is_original,
               original_url,
               quantity,
               remark,
               create_time,
               keywords,
               update_time
        from b_article WHERE category_id=#{categoryId}
    </select>
</mapper>