<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.ArticleMapper">
    <insert id="insertArticle"></insert>
    <insert id="insertArticleTagRelate"></insert>
    <update id="updateArticleQuantity"></update>
    <update id="updateArticleInfo"></update>

    <select id="getArticleList" resultType="com.ms.blog.entity.Article"></select>
    <select id="getPopularArticleList" resultType="com.ms.blog.entity.Article"></select>
    <select id="getArticleContent" resultType="com.ms.blog.entity.Article"></select>
    <select id="getArticleByUserId" resultType="com.ms.blog.entity.Article"></select>
</mapper>