<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.CategoryMapper">
    <insert id="insertCategory">
        INSERT INTO b_category(name,create_time,update_time,click_volume)
        VALUES (#{name}, #{createTime}, #{updateTime}, 0)
    </insert>
    <update id="updateCategory">
        UPDATE b_category 
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="updateCategoryClickVolume">
        UPDATE b_category SET click_volume=#{clickVolume} WHERE id=#{id}
    </update>
    <delete id="deleteCategory">
        DELETE FROM b_category WHERE id=#{id}
    </delete>

    <select id="getCategoryById" resultType="com.ms.blog.entity.Category">
        SELECT b_category.id, name, click_volume, sort, create_time, update_time FROM b_category WHERE id=#{id}
    </select>
    <select id="getCategoryByName" resultType="com.ms.blog.entity.Category">
        select id as i, name as n, click_volume as cv, sort as s, create_time as ct, update_time as ut
        from b_category WHERE name=#{name}
    </select>
    <select id="getCategoryList" resultType="com.ms.blog.entity.Category">
        SELECT * FROM b_category
    </select>
</mapper>