<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.CommentMapper">
    <insert id="insertChildComment"></insert>
    <insert id="insertParentComment"></insert>
    <delete id="deleteComment"></delete>

    <select id="getParentCommentList" resultType="com.ms.blog.entity.Comment"></select>
    <select id="getChildCommentList" resultType="com.ms.blog.entity.Comment"></select>
</mapper>