<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.CommentMapper">
    <insert id="insertChildComment">
        INSERT INTO b_comment(id, user_id, article_id, content, reply_user_id, parent_id, create_time) VALUES
        (id=#{id},user_id=#{userId},article_id=#{articleId},content=#{content},reply_user_id=#{replyUserId}
        ,parent_id=#{parentId},create_time=#{createTime})
    </insert>
    <insert id="insertParentComment">
        INSERT INTO b_comment(id, user_id, article_id, content, reply_user_id, create_time) VALUES
            (id=#{id},user_id=#{userId},article_id=#{articleId},content=#{content},reply_user_id=#{replyUserId}
            ,create_time=#{createTime})
    </insert>
    <delete id="deleteComment">
        DELETE FROM b_comment WHERE id=#{id}
    </delete>

    <select id="getParentCommentList" resultType="com.ms.blog.entity.Comment">
        select id, user_id, article_id, content, reply_user_id, parent_id, create_time
        from b_comment
        <where>
            <if test="articleId!=null and articleId!=''">
                article_id=#{articleId}
            </if>
        </where>
    </select>
    <select id="getChildCommentList" resultType="com.ms.blog.entity.Comment">
        select id, user_id, article_id, content, reply_user_id, parent_id, create_time
        from b_comment
        WHERE parent_id=#{parentId}
    </select>
</mapper>
