<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.LogMapper">

    <insert id="insertUserLog" parameterType="com.ms.blog.entity.UserLog">
        INSERT INTO b_user_log
            (username, ip, address, type, description, model, create_time, result, access_os,
            browser, client_type, del_flag)
            VALUES (#{username},#{ip},#{address},#{type},#{description},
                    #{model},#{createTime},#{result},#{accessOs},#{browser},
                    #{clientType},1)
    </insert>
    <insert id="insertExceptionLog">
        INSERT INTO b_exception_log
        (username, ip, ip_source, method, operation, params, exception_json, exception_message, create_time, del_flag)
        VALUES(#{username},#{ip},#{source},#{method},#{operation},#{params},#{exceptionJson},#{exceptionMessage},#{createTime},1)
    </insert>
    <update id="deleteUserLogById">
        UPDATE b_user_log SET del_flag=0 WHERE id=#{id}
    </update>
    <update id="deleteExceptionLog">
        UPDATE b_exception_log SET del_flag=0 WHERE id=#{id}
    </update>
    <select id="getUserLogs" parameterType="com.ms.blog.entity.param.UserLogParam" resultType="com.ms.blog.entity.UserLog">
        select id,
               username,
               ip,
               address,
               type,
               description,
               model,
               create_time,
               result,
               access_os,
               browser,
               client_type,
               del_flag
        from b_user_log WHERE del_flag=1
        <if test="param.username!=null and username!=''">
            AND username=#{param.username}
        </if>
        <if test="param.os!=null ">
            AND access_os=#{param.os}
        </if>
        <if test="param.ip!=null and ip!=''">
            AND ip=#{param.ip}
        </if>
        <if test="param.type!=null">
            AND type=#{param.type}
        </if>
        <if test="param.result!=null">
            AND result=#{param.result}
        </if>
        <if test="param.createTime!=null">
            AND create_time &lt;= #{param.createTime}
        </if>
        <if test="param.browser!=null">
            AND browser=#{param.browser}
        </if>
        <if test="param.clientType!=null">
            AND client_type=#{param.clientType}
        </if>
    </select>
    <select id="getExceptionLogs" resultType="com.ms.blog.entity.ExceptionLog">
        select id,
               username,
               ip,
               ip_source,
               method,
               operation,
               params,
               exception_json,
               exception_message,
               create_time,
               del_flag
        from b_exception_log WHERE del_flag=1
        <if test="exceptionLogParam.username!=null">
            AND username=#{exceptionLogParam.username}
        </if>
        <if test="exceptionLogParam.ip!=null">
            AND ip=#{exceptionLogParam.ip}
        </if>
        <if test="exceptionLogParam.source">
            AND ip_source=#{exceptionLogParam.source}
        </if>
        <if test="exceptionLogParam.method!=null">
            AND method=#{exceptionLogParam.method}
        </if>
        <if test="exceptionLogParam.createTime!=null">
            AND create_time&lt;=#{exceptionLogParam.createTime}
        </if>
    </select>
</mapper>