<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.ModPackMapper">
    <update id="updateModPackInfo"></update>
    <update id="updateModPackCreator"></update>

    <select id="getModPackList" resultType="com.ms.blog.entity.ModPack"></select>
    <select id="getModPackById" resultType="com.ms.blog.entity.ModPack"></select>
    <select id="getRelatedLinkByModPackId" resultType="com.ms.blog.entity.ModPackRelatedLink"></select>
    <select id="getCreatorByModPackId" resultType="com.ms.blog.entity.vo.CreatorVo"></select>
    <select id="getModPackByName" resultType="com.ms.blog.entity.ModPack"></select>
</mapper>