<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.blog.dao.ModPackMapper">
    <update id="updateModPackInfo">
        UPDATE b_mod_pack 
        <set>
            <if test="name!=null">
                b_mod_pack.name=#{name}
            </if>
            <if test="status!=null">
                b_mod_pack.status=#{status}
            </if>
            <if test="overallProgress!=null">
                overrall_progress=#{overallProgress}
            </if>
            <if test="introduce!=null">
                introduce=#{introduce}
            </if>
            <if test="version!=null">
                version=#{version}
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
        </set> WHERE id=#{id}
    </update>
    <update id="updateModPackCreator">
        UPDATE b_user_mod_pack SET user_id=#{userId}
        WHERE mod_pack_id=#{modPackId}
    </update>

    <select id="getModPackList" resultType="com.ms.blog.entity.ModPack">
        select id,
               name,
               create_time,
               update_time,
               status,
               overall_progress,
               introduce,
               version
        from b_mod_pack
    </select>
    <select id="getModPackById" resultType="com.ms.blog.entity.ModPack">
        select id,
               name,
               create_time,
               update_time,
               status,
               overall_progress,
               introduce,
               version
        from b_mod_pack WHERE id=#{id}
    </select>
    <select id="getRelatedLinkByModPackId" resultType="com.ms.blog.entity.ModPackRelatedLink">
        select id, mod_pack_id, name, url, pic, create_time, update_time
        from b_related_link WHERE mod_pack_id=#{id}
    </select>
    <select id="getUserIdByModPackId" resultType="java.lang.Integer">
        SELECT user_id FROM b_user_mod_pack WHERE mod_pack_id=#{modPackId}
    </select>
    <select id="getModPackByName" resultType="com.ms.blog.entity.ModPack">
        select id,
               name,
               create_time,
               update_time,
               status,
               overall_progress,
               introduce,
               version
        from b_mod_pack WHERE b_mod_pack.name=#{name}
    </select>
</mapper>